<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <mapping resource="co/edu/usbcali/breakfast/modelo/Producto.hbm.xml" />
        <mapping resource="co/edu/usbcali/breakfast/modelo/Pedidoproducto.hbm.xml" />
        <mapping resource="co/edu/usbcali/breakfast/modelo/Usuario.hbm.xml" />
        <mapping resource="co/edu/usbcali/breakfast/modelo/Pedido.hbm.xml" />
        <mapping resource="co/edu/usbcali/breakfast/modelo/Tipoproducto.hbm.xml" />
    </session-factory>
</hibernate-configuration>
